body {
  width: 960px;
  margin: 0 auto;
  font-family: helvetica neue, arial, sans-serif;
  color: white;
  background-image: url(../images/orangehabaneros.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

img{
	width: 960px;
}

h2{
	font-style:italic;
	border-bottom:3px solid white;
}
h3{
	font-style:italic;
}

li{
  border-bottom:1px solid white;  
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}