body {
  width: 960px;
  margin: 0 auto;
  font-family: helvetica neue, arial, sans-serif;
  color: white;
  background-image: url(../images/orangehabaneros.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

img{
	width: 960px;
  padding:20px;
}

h2{
  font-style:italic;
  border-bottom:3px solid white;
}

h3{
	font-style:italic;
}

li{
  border-bottom:1px solid white;
  font-size:large;  
}
section{
  padding-top:10px;
}

a{
  font-style:italic;
  border-bottom:1px solid white;
  font-size:large;
  color:white;
}


#wrapper {
  width: 960px;
  margin: 20px auto;
}
#blacktext{
  color:black;
}
#whitey{
  color:white;
  text-align:left;
}
#spicegirl{
  width:480px;
  padding: 30px;
}
#vindaloo{
  width:320px;
}
#darkbox{
  background-color:gray

}
#aboutlush{
background-color:gray  
}